language: node_js
node_js:
  - stable
  - lts/*

cache: yarn

jobs:
  include:
    - stage: testing
      script:
        - yarn lint
        - yarn test
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - stage: npm release
      if: tag =~ /^v[0-9]*\.[0-9]*\.[0-9]*$/
      script:
        - yarn build
      before_deploy:
        - cd dist
      deploy:
        provider: npm
        email: "$NPM_EMAIL"
        api_key: "$NPM_TOKEN"
        skip_cleanup: true
        on:
          tags: true
          branch: master
